$primary: #11998e;

$paddingSmall: 8px;
$paddingNormal: 12px;

$gutter: 8px;

$xs: '(min-width: 320px)';
$sm: '(min-width: 768px)';
$md: '(min-width: 992px)';

$textColor: #333;
$textColorLight: #fff;